DATABASE_URL="postgresql://postgres:postgres@localhost:5432/devflow"
PORT=4000

JWT_SECRET='jwtknownsecret'

REDIS_HOST=localhost
REDIS_PORT=6379

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_PRO=price_xxx
STRIPE_PRICE_TEAM=price_xxx